<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo!</title>
</head>
<body>
    <h1>Here are the awesome quotes!!</h1>
    @{foreach(var names in name){
        
        <p>@names</p>
        }
    }
    @{foreach(var quotes in quote){
        <p>@quotes</p>
        }
    }
        
</body>
</html>